RewriteEngine On
RewriteBase / 

# Don't rewrite requests for api/index.php itself
RewriteCond %{REQUEST_URI} ^/api/index\.php$ [NC]
RewriteRule ^ - [L]

# Rewrite non-existent files and directories to api/index.php with rquest param
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ api/index.php?rquest=$1 [QSA,NC,L]
